  <div>
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <script>
    require.config({
      paths:{
        'jquery':['https://cdn.bootcss.com/jquery/1.9.1/jquery', 'lib/jquery.191.js'],
        'bootstrap':['https://cdn.bootcss.com/bootstrap/2.3.2/js/bootstrap.min.js','lib/js/bootstrap.min.js'],
        'page':'javascripts/page{{title}}'
      }
    })
  </script>
  </div>